body{
    background: linear-gradient(#c0c5c8,#717e84) fixed;;

    background-repeat: no-repeat;
}





/*logo,menu wyszukiwania*/
.btn.btn-primary{
    height: 50px;

    width:100%;
    justify-self: center;
    border: 1px solid #ef7d3c;




    background-color: #2c3135;

    color: #fffbdb;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}
.btn.btn-primary:hover {
    background: #636b6f;
    color:#ef7d3c;
}

#app{
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns:1fr;

    justify-items: stretch;
}
.checkbox{
    grid-column: 1/3;
    justify-self: center;
}
.main_panel{
    background: #636b6f;
    display:grid;
    padding:0.5em;
    grid-template-columns: 1fr 1fr 1fr;
}

.l_div{
align-self: center;
    justify-self: center;
}
.mail{
    padding: 1em;
    color:#fffbdb;
}
.logo{
    height:100px;
}
.logging{
    display:grid;
    grid-column: 3/3;
    text-align: center;
    border-left: 1px solid #b3bbbe;

}
.logging>a{
    text-decoration:none;
    color:#ef7d3c;
    padding:1em;


}
.logging>div>a{
    text-decoration:none;
    color:#ef7d3c;
    padding:1em;

}






.admin_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    font-size: 1em;
    align-items: baseline;
    grid-column-gap: 1em;
}
.admin_buttons >a> div{

    background:#2c3135;
    height:75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;

    color:#fffbdb;
}
.admin_buttons >a> div:hover{
    background: #636b6f;
    color:#ef7d3c;
}

.admin_buttons >a> div>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}






.verified_user_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1em;
    align-items: stretch;
    grid-column-gap: 1em;
}
.verified_user_buttons>a> div{

    background:#2c3135;
    height:75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
    color:#fffbdb;
}
.verified_user_buttons >a> div:hover{
    background: #636b6f;
    color:#ef7d3c;
}

.verified_user_buttons >a> div>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}




.all_users_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
    align-items: stretch;
    grid-column-gap: 1em;
}
.all_users_buttons>a> div{

    background:#2c3135;
    height:75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
    color:#fffbdb;
}
.all_users_buttons >a> div:hover{
    background: #636b6f;
    color:#ef7d3c;
}

.all_users_buttons >a> div>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}




.container{

    bottom: 0;

    grid-template-columns: 1fr;
    display:grid;
    align-items: center;
    background:#dcdcdc;
    min-height: 700px;

    padding: 2em;
}




.main_page{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    padding:1em;
    grid-column-gap: 1em;


}

.obraze{
    width:100%;
    border-radius: 1%;
    height: 100%;

}
.lorem{


    font-size: 1em;
    background:#2c3135;

    padding:1em;
    border-radius:0.5em;
    color:#fffbdb;
}

/*logowanie/rejestracja*/


.form-group{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
    display:grid;
    align-items: center;



}
.searching{
    height: 60px;
    width: 100%;
    background-color: #2c3135;
    border: 1px solid #ef7d3c;
    color: #fffbdb;


    text-decoration: none;
}
.searching:hover
{
    background: #636b6f;
    color:#ef7d3c;
}
.input-group-addon{
    justify-self: left;
    width: 50%;
}
.form-control{
    width: 88%;
    padding: 0.3em;
    font-size:1.7em;
    border-radius: 0.2em;
    background:#636b6f;
    border: 1px solid #ef7d3c;
    color:#dcdcdc;
    min-height: 50px;
}

.form-control:focus{
    box-shadow: 0 0 5px #636b6f;
    border-radius: 0.2em;
    color:black;
    border: 1px solid #636b6f;
    background:#dcdcdc;
    outline-width: 0;

}



#btnlogin
{
    width: 76%;
    background-color: #2c3135;

    color: #fffbdb;
    padding: 1em;

    text-decoration: none;
    border: 1px solid #ef7d3c;
    grid-column: 1/3;
    justify-self: center;


}

#btnlogin:hover
{
    background: #636b6f;
    color:#ef7d3c;
}


#t_test{
    width: 100%;

}
table{
    border-spacing:0.1em;
    font-size:1.4em;
}
td {
    color:#2c3135;
    background: #636b6f;

}
th{
    color:#fffbdb;
    background : #2c3135;
    height: 50px;

}
.wazne{
    color:#fffbdb;
    background : #2c3135;
}
.btn-group>a
{
    text-decoration: none;
    color:#ef7d3c;
}

footer
{   display:grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    background: #2c3135;
    padding: 1em;
    justify-items: center;
    justify-self: center;
}
.pwsz
{
    color:#ef7d3c;
}
.projekt
{
    color:#fffbdb;
}

#btnologia{
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact{
    grid-column-start: 1;
    grid-column-end: 3;
    background:#2c3135;
    width: 100%;
    text-align: center;
    border-radius:0.5em;
    color:#fffbdb;
}







@media only screen and (max-width: 800px) {
    .main_page{
        grid-template-columns: 1fr;
    }
    .lorem{


        font-size: 0.5em;

    }
    #app{

        grid-row-gap: 0.2em;


    }
    .container {
        padding: 0.5em;

    }


    .main_panel{

    display:grid;
        grid-template-columns: 1fr;
        padding:0.3em;
    }

    .logging{


        grid-column: 1/1;
        grid-row: 2/2;
        text-align: center;
        border-top: 1px solid #b3bbbe;
        border-left:none;
        font-size: 0.5em;

    }
    .logo{
        height:20px;
    }

    .logging>a{

        padding:0.3em;

    }
    .admin_buttons {
        font-size: 0.5em;
        grid-column-gap: 0.4em;
    }
    .admin_buttons>a> div{


        height:25px;
        line-height: 25px;

    }

    .all_users_buttons {
        font-size: 0.5em;
        grid-column-gap: 0.4em;
    }
    .all_users_buttons>a> div{


        height:25px;
        line-height: 25px;

    }
   #t_test>tbody>tr>td>form>div>input {
       font-size: 0.4em;

   }
    #t_test>tbody>tr>td>form>input{
        font-size: 0.4em;

    }
    .verified_user_buttons {
        font-size: 0.5em;
        grid-column-gap: 0.4em;
    }
    .verified_user_buttons>a> div{


        height:25px;
        line-height: 25px;

    }
    .contact{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .form-group{
        font-size: 0.6em;
    }
    .form-control{
        min-height: 20px;
    }
    .searching{
        height: 30px;
        background-color: #2c3135;

        color: #fffbdb;


        text-decoration: none;
    }

table{
        font-size: 0.5em;
    }

}
span.help-block{
    color:#bf5329;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert {
    padding: 1rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 0 auto;
    width: 50%;
}

.pagination {
    display: inline-block;
    margin: 0 auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid hsla(0, 0%, 67%, 1);
}

.pagination a.active {
    background-color: hsla(17, 65%, 60%, 1);;
    color: white;
    border: 1px solid hsla(17, 65%, 60%, 1);
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}